.img1{
    background-image: url("../images/new-images/a (1).jpg");
}
.img2{
    background-image: url("../images/new-images/a (2).jpg");
}
.img3{
    background-image: url("../images/new-images/a (3).jpg");
}
.img4{
    background-image: url("../images/new-images/a (4).jpg");
}
.img5{
    background-image: url("../images/new-images/a (5).jpg");
}
.img6{
    background-image: url("../images/new-images/a (6).jpg");
}

.imgb1{
    background-image: url("../images/new-images/b (1).jpg");
}
.imgb2{
    background-image: url("../images/new-images/b (2).jpg");
}
.imgb3{
    background-image: url("../images/new-images/b (3).jpg");
}
.imgb4{
    background-image: url("../images/new-images/b (4).jpg");
}
.imgb5{
    background-image: url("../images/new-images/b (5).jpg");
}
.imgb6{
    background-image: url("../images/new-images/b (6).jpg");
}

.icontainer:hover .img1{
    background-color: rgba(248, 18, 18, 0.329);
}