.img1{
    background-image: url("../images/a1.jpg");
}
.img2{
    background-image: url("../images/a2.jpg");
}
.img3{
    background-image: url("../images/a3.jpg");
}
.img4{
    background-image: url("../images/a4.jpg");
}
.img5{
    background-image: url("../images/a5.jpg");
}
.img6{
    background-image: url("../images/a6.jpg");
}

.imgb1{
    background-image: url("../images/b1.jpg");
}
.imgb2{
    background-image: url("../images/b2.jpg");
}
.imgb3{
    background-image: url("../images/b3.jpg");
}
.imgb4{
    background-image: url("../images/b4.jpg");
}
.imgb5{
    background-image: url("../images/b5.jpg");
}
.imgb6{
    background-image: url("../images/b6.jpg");
}